github "elland/25519" "feature/carthage"
github "CocoaLumberjack/CocoaLumberjack"
github "AFNetworking/AFNetworking"
github "elland/SignalProtocolKit" "master"
github "elland/HKDFKit" "master"
github "Mantle/Mantle"
github "yapstudios/YapDatabase"
github "elland/SocketRocket" "master"
github "iziz/libPhoneNumber-iOS"
github "soffes/SAMKeychain"
github "alexeyxo/protobuf-objc" "1.9.11"
