github "elland/25519" "feature/carthage"
github "CocoaLumberjack/CocoaLumberjack"
github "AFNetworking/AFNetworking"
github "WhisperSystems/SignalProtocolKit"
github "Mantle/Mantle"
github "yapstudios/YapDatabase"
github "elland/SocketRocket" "master"
github "iziz/libPhoneNumber-iOS"
github "soffes/SAMKeychain"
github "Strilanc/ObjC-CollapsingFutures"
